<div class="wrap">
  <!-- <nav><a routerLink="/">Home</a></nav> -->

  <div *ngIf="formEnabled">
    <app-trip-edit-form [trip]="trip" (tripSaveSubmit)="getTrip($event)"></app-trip-edit-form>
  </div>

  <div *ngIf="!formEnabled">
    <div *ngIf="trip">
      <mat-card class="card">
        <img class="trip-image" src="../../../assets/images/{{trip.image}}">
        <div class="trip-details">
          <h2 class="trip-destination">{{trip.destination}}</h2>
          <p class="trip-totalCost">
            <strong>${{trip.totalCost}}</strong>
            <span class="trip-cost-msg"> (Total Trip Cost)</span>
          </p>
          <p>From: {{trip.startdate | date}} - {{trip.leavedate | date}}</p>
          <div class="card">
            <h4>Image</h4>
            <p>{{trip.image}}</p>
          </div>
          <h4>Travel Costs</h4>
          <ul>
            <li *ngFor="let cost of trip.costs" class="trip-costs">
              <p>{{cost.costLabel}}: ${{cost.costAmt}}
              </p>
            </li>
          </ul>
        </div>
      </mat-card>
    </div>
  </div>
  <button type="button" mat-raised-button color="accent" (click)="back()">Back</button>
  <button type="button" mat-raised-button color="accent" *ngIf="!formEnabled" (click)="toggleForm()">Edit</button>
  <button type="button" mat-raised-button color="accent" *ngIf="formEnabled" (click)="cancel()">Cancel</button>
</div>
