<div class="wrap">
  <h1>Your Trips</h1>

  <ul class="trips-list">
    <li *ngFor="let trip of trips">
      <img src="../../../assets/images/{{trip.image}}">
      <div>
        <h2>
          <a>{{trip.destination}}</a>
        </h2>
        <span class="deleteTrip" (click)="deleteTrip(trip._id)">X</span>
        <p>Travel Dates: {{trip.startdate | date}} - {{trip.leavedate | date}}</p>
        <p>Total Trip Cost: </p>
        <ul>
          <li *ngFor="let cost of trip.costs">
            <p>{{cost.costLabel}}: {{cost.costAmt}}</p>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <app-trip-add-form></app-trip-add-form>
</div>
