<div class="wrap">
  <h1>Trips</h1>
  <label>Search 
    <input type="text" [(ngModel)]="searchText" placeholder="Trip Destination">
  </label>
  <label>Sort By: 
    <select [(ngModel)]="orderField">
      <option value="startdate">Start Date</option>
      <option value="leavedate">Leave Date</option>
      <option value="totalCost">Total Cost</option>
    </select>
  </label>
  <label> 
    <select [(ngModel)]="orderDir">
      <option value="1">Asc</option>
      <option value="-1">Desc</option>
    </select>
  </label>
  <ul class="trips-list">
    <li *ngFor="let trip of trips | filter: searchText | orderBy: orderField : orderDir">
      <img src="../../../assets/images/{{trip.image}}">
      <div>
        <h2>
          <a routerLink="/trip/{{trip._id}}">{{trip.destination}}</a>
        </h2>
        <span class="deleteTrip" (click)="deleteTrip(trip)">X</span>
        <p>Travel Dates: {{trip.startdate | date}} - {{trip.leavedate | date}}</p>
        <p >Total Trip Cost: {{trip.totalCost}}</p>
      </div>
    </li>
  </ul>
  <div *ngIf="trips">
    <app-trip-add-form [trips]="trips"></app-trip-add-form>
  </div>
</div>
