ul {
    list-style: none;
    // background-color: lightblue;
    display: flex;
    flex-direction: column;
    li {
        display: flex;
        margin-bottom: 1rem;
        // background-color: indianred;

        img {
            width: 30%;
            height: 100%;
        }

        h2, p {
            padding-left: 1rem;
        }

        h2 {
            margin-top: 0;
        }
    }
}

.deleteTrip{
    cursor: pointer;
}

input, label {
    display: block;
}