.trip-image {
    width: 100%;
}

.trip-costs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.trip-cost-amt {
    float: right;
}

button {
    // padding: 0.5rem 1rem;
    background-color: lightcyan;
    border-radius: 4px;
    margin-top: 1rem;
    margin-right: 0.2rem;
}