<div class="wrap">

        <button (click)="show = !show">Edit</button>

  <h2>Trip to: Madrid, Spain<span><input *ngIf="show" type="text" value="Madrid, Spain"></span></h2>
  
  <p>From: May 2 - 5, 2018</p>
  <h3>Travel Details</h3>
  <div class="card">
    <h4>Methods of Travel</h4>
    <p>Plane
      <span>$500</span>
    </p>
    <p>Bus
      <span>$20</span>
    </p>
    <p>Car
      <span>$120</span>
    </p>
  </div>
  <div class="card">
    <h4>Lodging</h4>
    <p>Hotel
      <span>$500</span>
    </p>
    <p>AirBnB
      <span>$200</span>
    </p>
  </div>
  <div class="card">
        <h4>Miscallaneous</h4>
        <p>Food<span>$500</span></p>
        <p>Ferry Ride<span>$100</span></p>
        <p>Hike<span>$10</span></p>
    </div>
    <div class="card">
            <h4>Links</h4>
            <p><a href="https://www.google.com/flights/#flt=/m/02_286..2018-05-23*./m/02_286.2018-05-27;c:USD;e:1;sd:1;t:h" target="_blank">Google Flights</a></p>
            <p><a href="https://www.expedia.com/" target="_blank">Expedia</a></p>
        </div>
    <div class="card">
        <h4>Total Trip Cost: <span>$3000</span></h4>
    </div>

    <button (click)="back()">Back</button>
    
    <button>Save</button>
    <button>Cancel</button>
</div>

<div class="wrap">

</div>





