<div class="wrap">
    <nav><a routerLink="/">Home</a></nav>

  <div *ngIf="formEnabled">
    <app-trip-edit-form [trip]="trip" (tripSaveSubmit)="getTrip($event)"></app-trip-edit-form>
  </div>

  <div *ngIf="!formEnabled">
    <div *ngIf="trip">
      <h2>{{trip.destination}}</h2>
      <p>From: {{trip.startdate | date}} - {{trip.leavedate | date}}</p>
      <h3>Travel Details</h3>
      <div class="card">
        <h4>Travel Costs</h4>
        <ul>
          <li *ngFor="let cost of trip.costs">
            <p>{{cost.costLabel}}: {{cost.costAmt}}</p>
          </li>
        </ul>
      </div>
      <div class="card">
        <h4>Image</h4>
        <p>{{trip.image}}</p>
      </div>
      <div class="card">
        <h4>Total Trip Cost:
          <span>{{trip.totalCost}}</span>
        </h4>
      </div>
    </div>
  </div>

  <div *ngIf="formEnabled">
    
  </div>

  <button type="button" (click)="back()">Back</button>
  <button type="button" *ngIf="!formEnabled" (click)="toggleForm()">Edit</button>
  <button type="button" *ngIf="formEnabled" (click)="cancel()">Cancel</button>
</div>
