.wrap {
    padding: 0 1rem;
    // max-width: 500px;
    width: 400px;
    margin: 0 auto;
    background: lightgrey;
}

.card {
    // width: 100%;
    // width: 300px;
    background: white;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0 0 1rem 0;
    @media screen and (min-width: 500px) {
        // max-width: 400px;
    }
    h4 {
        margin-top: 0.5rem;
    }
    span {
        float: right;
    }
}

input, label {
    display: block;
}

button {
    padding: 0.5rem 1rem;
    background-color: lightcyan;
    border-radius: 4px;
}