

.form-wrapper {
    padding-bottom: 0;
}

.addTripForm {
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.addTrip-header {
    background-color: #3f51b5;
    color: white;
    margin: -24px -16px 0 -16px;
    cursor: pointer;
    @media screen and (min-width: 599px) {
        margin: -24px -24px 0 -24px;
    }
    h2 {
        display: flex;
        align-content: center;
        align-items: center;
        font-weight: 500;
        i {
            font-size: 2rem;
            margin-right: 0.5rem;
        }
    }
}

.presaved-img {
    margin: 1rem auto;
    text-align: center;
    img {
        display: block;
        max-width: 200px;
    }
}

.addCost-btn {
    padding-bottom: 1rem;
    button {
        background-color: #3f51b5;
        color: white;
    }
}

.tripAdd-submit-btn {
    padding-top: 1rem;
    button {
        padding: 0.5rem 1rem 0.5rem 1rem;
        font-size: 1.5rem;
    }
}

.change-image-btn {
    margin-right: 1rem;
  }