<mat-card class="form-wrapper card">
  <mat-card-header color="background" class="addTrip-header" (click)="toggleAddTripForm()">
    <h2 class="">
      <i class="material-icons">
        add_circle_outline
      </i>Add Trip</h2>
  </mat-card-header>
  <form class="addTripForm" [formGroup]="tripAddForm" (ngSubmit)="onSubmit()" [@slideShowHide]='formState'>
    <div class="trip-details-field">
      <mat-form-field class="trip-destination-field">
        <mat-label>Destination</mat-label>
        <input matInput class="form-control" type="text" formControlName="destination" placeholder="Destination">
      </mat-form-field>
      <mat-form-field class="trip-start-date-field">
        <mat-label>Start Date</mat-label>
        <input matInput class="form-control" type="date" formControlName="startdate" placeholder="Start Date">
      </mat-form-field>
      <mat-form-field class="trip-leave-date-field">
        <mat-label>Leave Date</mat-label>
        <input matInput class="form-control" type="date" formControlName="leavedate" placeholder="Leave Date">
      </mat-form-field>
    </div>

    <!-- <button type="button" mat-raised-button color="accent" (click)="openModal()">{{isEmptyObject(chosenPhoto) ? 'Add Image' : 'Change Image'}}</button> -->

    <!-- <button *ngIf="!isEmptyObject(chosenPhoto)" type="button" mat-raised-button (click)="removePresavedImg()">Remove Image</button>
    <span *ngIf="isEmptyObject(chosenPhoto)">&nbsp; &nbsp; No Image Selected</span> -->

    

    <button type="button" mat-raised-button color="accent" (click)="toggleModal()">{{isEmptyObject(photo) ? 'Add Image' : 'Change Image'}}</button>
    <button *ngIf="!isEmptyObject(photo)" type="button" mat-raised-button (click)="removePresavedImg()">Remove Image</button>
    <span *ngIf="isEmptyObject(photo)">&nbsp; &nbsp; No Image Selected</span>

    <div *ngIf="modalOpen">
      <app-photo-gallery [(modalOpen)]="modalOpen" (imgChange)="displayImg($event)"></app-photo-gallery>
    </div>

    <div *ngIf="!isEmptyObject(photo)" class="presaved-img">
      <img src="{{photo.urls.thumb}}" alt="">
    </div>

    <div>
      <h2>Costs</h2>
      <p>Add some costs you're likely to incur on your trip. Plane tickets, hotels, car rentals, for example.</p>
      <div formArrayName="costs">
        <div *ngFor="let cost of costsFormArray.controls; let idx = index" [formGroupName]="idx">
          <div class="trip-addCosts-field">
            <mat-form-field class="trip-cost-label">
              <mat-label>Cost {{idx + 1}}</mat-label>
              <input matInput type="text" formControlName="costLabel" placeholder="Cost Label ex. 'Plane Ticket'">
            </mat-form-field>
            <mat-form-field class="trip-cost-field">
              <span matPrefix>$ </span>
              <input matInput type="number" formControlName="costAmt" value="0">
            </mat-form-field>
            <i class="material-icons" (click)="removeCost(idx)" matTooltip="Delete Cost" matTooltipPosition="right">
              clear
            </i>
          </div>
        </div>
      </div>
      <div class="addCost-btn">
        <button mat-raised-button type="button" (click)="addCost()">Add Cost</button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="tripAdd-submit-btn">
      <button mat-raised-button color="accent" type="submit" [disabled]="!tripAddForm.valid">Add Trip</button>
    </div>
  </form>

</mat-card>
