<mat-card class="form-wrapper card">
    <mat-card-header class="editTrip-header">
      <h2 class="">Edit Trip</h2>
    </mat-card-header>
    <form class="editTripForm" [formGroup]="tripEditForm" (ngSubmit)="saveTrip()">
      <mat-form-field>
        <mat-label>Destination</mat-label>
        <input matInput class="form-control" type="text" formControlName="destination" placeholder="Destination" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput class="form-control" type="date" formControlName="startdate" placeholder="Start Date" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Leave Date</mat-label>
        <input matInput class="form-control" type="date" formControlName="leavedate" placeholder="Leave Date" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Image </mat-label>
        <input matInput class="form-control" type="text" formControlName="image" placeholder="image">
      </mat-form-field>
      <div>
        <h2>Costs</h2>
        <div formArrayName="costs">
          <div *ngFor="let cost of costsFormArray.controls; let idx = index" [formGroupName]="idx">
            <div class="trip-editCosts">
              <mat-form-field class="trip-cost-label">
                <mat-label>Cost {{idx + 1}}</mat-label>
                <input matInput type="text" formControlName="costLabel" placeholder="Cost Label">
              </mat-form-field>
              <mat-form-field class="trip-cost-field">
                <span matPrefix>$ </span>
                <input matInput type="number" formControlName="costAmt">
              </mat-form-field>
              <i *ngIf="idx > 0" class="material-icons" (click)="removeCost(idx)">
                clear
              </i>
            </div>
          </div>
        </div>
        <div class="editCost-btn">
          <button mat-raised-button type="button" (click)="addCost()">Add'l Cost</button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="tripEdit-submit-btn">
        <button mat-raised-button color="accent" type="submit">Save Trip</button>
      </div>
    </form>
  </mat-card>
  

<!-- <div class="form-wrapper">
    <form [formGroup]="tripEditForm" (ngSubmit)="saveTrip()">
      <fieldset>
        <legend>Edit Trip</legend>
        <div class="form-group">
          <label>Destination
            <input class="form-control" type="text" formControlName="destination" placeholder="Destination" required>
          </label>
        </div>
        <div class="form-group">
          <label>Start Date
            <input class="form-control" type="date" formControlName="startdate" placeholder="Start Date" required>
          </label>
        </div>
        <div class="form-group">
          <label>Leave Date
            <input class="form-control" type="date" formControlName="leavedate" placeholder="Leave Date" required>
          </label>
        </div>
        <div>
          <h2>Costs</h2>
          <div formArrayName="costs">
            <div *ngFor="let cost of costsFormArray.controls; let idx = index" [formGroupName]="idx">
              <label> Cost {{idx + 1}}
                <input type="text" formControlName="costLabel" placeholder="Cost Label">
              </label>
              <label>
                <input type="number" formControlName="costAmt" placeholder="$">
              </label>
              <span *ngIf="idx > 0" (click)="removeCost(idx)">X</span>
            </div>
          </div>
          <button type="button" (click)="addCost()">Add'l Cost</button>
        </div>
        <div class="form-group">
          <label>Image
            <input type="text" formControlName="image" placeholder="image">
          </label>
        </div>
        <div>
          <input type="submit" value="Save Trip">
        </div>
      </fieldset>
    </form>
  
    <p>Form value: {{tripEditForm.value | json}}</p>
    <p>Form value: {{tripEditForm.status | json}}</p>
  
  </div> -->
