<div class="form-wrapper">
  <form [formGroup]="tripAddForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Add Trip</legend>
      <mat-form-field>
        <label>Destination
          <input matInput  class="form-control" type="text" formControlName="destination" placeholder="Destination" required>
        </label>
      </mat-form-field>
      <mat-form-field>
        <label>Start Date
          <input matInput  class="form-control" type="date" formControlName="startdate" placeholder="Start Date" required>
        </label>
      </mat-form-field>
      <mat-form-field>
        <label>Leave Date
          <input matInput  class="form-control" type="date" formControlName="leavedate" placeholder="Leave Date" required>
        </label>
      </mat-form-field>
      <div>
        <h2>Costs</h2>
        <div formArrayName="costs">
          <div *ngFor="let cost of costsFormArray.controls; let idx = index" [formGroupName]="idx">
            <div class="mat-form-field">
            <label> Cost {{idx + 1}}
              <input type="text" formControlName="costLabel" placeholder="Cost Label">
            </label>
            <label>
              <input type="number" formControlName="costAmt" placeholder="$">
            </label>
            <span *ngIf="idx > 0" (click)="removeCost(idx)">X</span>
          </div>
          </div>
        </div>
        <button mat-raised-button color="primary" type="button" (click)="addCost()">Add'l Cost</button>
      </div>
      <div class="form-group">
        <label>Image
          <input type="text" formControlName="image" placeholder="image">
        </label>
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit">Add Trip</button>
      </div>
    </fieldset>
  </form>

  <p>Form value: {{tripAddForm.value | json}}</p>
  <p>Form value: {{tripAddForm.status | json}}</p>

</div>
