<div class="form-wrapper">
  <form [formGroup]="tripAddForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Add Trip</legend>
      <div class="form-group">
        <label>Destination
          <input class="form-control" type="text" formControlName="destination" placeholder="Destination" required>
        </label>
      </div>
      <div class="form-group">
        <label>Start Date
          <input class="form-control" type="text" formControlName="startdate" placeholder="Start Date" required>
        </label>
      </div>
      <div class="form-group">
        <label>Leave Date
          <input class="form-control" type="text" formControlName="leavedate" placeholder="Leave Date" required>
        </label>
      </div>
      <div>
        <h2>Costs</h2>
        <div formArrayName="costs">
          <div *ngFor="let cost of costsFormArray.controls; let idx = index" [formGroupName]="idx">
            <label> Cost {{idx + 1}}
              <input type="text" formControlName="costLabel" placeholder="Cost Label">
            </label>
            <label>
              <input type="number" formControlName="costAmt" placeholder="$">
            </label>
          </div>
        </div>


<!-- 
        <div formGroupName="addCost">
          <label>
            <input type="text" placeholder="Cost Label" formControlName="costLabel">
          </label>
          <label>
            <input type="number" placeholder="$" formControlName="costAmt">
          </label> -->
          <button type="button" (click)="addCost()">Add'l Cost</button>
        <!-- </div> -->
      </div>


      <div>
        <input type="submit" value="Add Trip">
      </div>
    </fieldset>
  </form>

  <p>Form value: {{tripAddForm.value | json}}</p>
  <p>Form value: {{tripAddForm.status | json}}</p>

</div>
