<!-- <button type="button" mat-raised-button color="accent" (click)="openModal()">{{isEmptyObject(chosenPhoto) ? 'Add Image' : 'Change Image'}}</button>

<button *ngIf="!isEmptyObject(chosenPhoto)" type="button" mat-raised-button (click)="removePresavedImg()">Remove Image</button>
<span *ngIf="isEmptyObject(chosenPhoto)">&nbsp; &nbsp; No Image Selected</span> -->

<mat-card class="modal">
  <div class="modal-column">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>Image Gallery</h2>
      </div>
      <div class="modal-body">
        <p>Search an Image from the
          <a class="unsplash-link" href="https://unsplash.com/" target="_blank">Unsplash</a> Gallery. Choose one that will encourage you to go to your destination.</p>
        <mat-form-field class="search-field">
          <mat-label>Search for an Image</mat-label>
          <input matInput type="text" name="query" [(ngModel)]="query" (ngModelChange)="submitQuery(query)" placeholder="Image Keyword">
        </mat-form-field>
        <!-- <button mat-raised-button color="primary" type="button" (click)="searchPhotos(searchTerm)">Search</button> -->
        <!-- <button mat-raised-button color="primary" type="button" (click)="searchPhotos(searchTerm)">Search</button> -->

        <div *ngIf="errorMessage !== ''" class="">
          <p>{{errorMessage}}</p>
        </div>

        <div *ngIf="photos.length !== 0" class="search-img-results-container">
          <!-- <div class="search-img-results-container"> -->


          <div *ngIf="loading">
            <mat-spinner></mat-spinner>
          </div>

          <ul infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="150" [scrollWindow]="false" [horizontal]="true"
            (scrolled)="addMoreImages()">
            <!-- <li>
              <img src="../../../assets/images/geneva.png">
              <img src="../../../assets/images/geneva.png">
              <img src="../../../assets/images/geneva.png">
              <img src="../../../assets/images/geneva.png">
              <img src="../../../assets/images/geneva.png">
              <img src="../../../assets/images/geneva.png">
              <img src="../../../assets/images/geneva.png">
            </li> -->
            <li *ngFor="let photo of photos">
              <img src="{{photo.urls.small}}" (click)="selectImage(photo)">
              <p class="unsplash-attr-small">
                <a href="{{photo.user.links.html}}?utm_source=zb-travel-app&utm_medium=referral" target="_blank">By: {{photo.user.name}}</a>
              </p>
            </li>
          </ul>
        </div>
        <div *ngIf="loading" class="loading-spinner">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="photos.length !== 0" class="chosen-img-container">
          <h3>Chosen Image</h3>
          <div class="chosen-img">
            <img src="{{chosenPhoto.urls.regular}}">
            <p class="unsplash-attr">Photo By:
              <a href="{{chosenPhoto.user.links.html}}?utm_source=zb-travel-app&utm_medium=referral" target="_blank">{{chosenPhoto.user.name}}</a> on
              <a class="unsplash-link" href="https://unsplash.com/" target="_blank">Unsplash</a>
            </p>
          </div>
        </div>
        <div *ngIf="photos.length !== 0">
          <button class="save-image-btn" mat-raised-button color="primary" type="button" (click)="presaveImage()">Save Image</button>
          <button mat-raised-button color="primary" type="button" (click)="closeModal()">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</mat-card>
