<div class="wrap">
  <mat-card class="card">
    <h2>Welcome to Travel App.</h2>
    <p>This app will help you keep track of the destinations you'd like to visit and any costs you might incur.
    </p>
    <div class="project-link">
      <a href="https://github.com/zbayoff/travelApp" target="_blank">Project Repo</a>
    </div>
  </mat-card>
  <mat-card class="card trip-search">
    <!-- <mat-card-header class="card-header">Search Trips</mat-card-header> -->
    <mat-form-field class="trip-search-field">
      <mat-label>Search Your Trips</mat-label>
      <input matInput type="text" [(ngModel)]="searchText" placeholder="Search by Trip Destination">
    </mat-form-field>
    <mat-form-field class="trip-sort-field">
      <mat-label>Sort By:</mat-label>
      <mat-select [(ngModel)]="orderField">
        <mat-option value="startdate">Start Date</mat-option>
        <mat-option value="leavedate">Leave Date</mat-option>
        <mat-option value="totalCost">Total Cost</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="trip-sort-order">
      <mat-label>Order:</mat-label>
      <mat-select [(ngModel)]="orderDir">
        <mat-option value="1">Asc</mat-option>
        <mat-option value="-1">Desc</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card class="card">
    <h1>Trips</h1>
    <ul class="trips-list">
      <p class="no-trip-msg" *ngIf="trips?.length == 0">No trips have been added. Add one below!</p>
      <li *ngFor="let trip of trips | filter: searchText | orderBy: orderField : orderDir">
        <div *ngIf="trip.image.url !== ''" class="trip-image">
          <img src="{{trip.image.url}}">
          <p class="unsplash-attr">Photo By:
            <a href="{{trip.image.userUrl}}?utm_source=zb-travel-app&utm_medium=referral" target="_blank">{{trip.image.user}}</a> on
            <a class="unsplash-link" href="https://unsplash.com/" target="_blank">Unsplash</a>
          </p>
        </div>
        <div *ngIf="trip.image.url === ''" class="trip-image">
          <p>No Image Added.
          </p>
        </div>

        <!-- <img class="trip-image" src="{{trip.image.url}}">
        <p>{{trip.image.user}}</p>
        <p>{{trip.image.userUrl}}</p> -->

        <div class="trip-details">
          <h2 class="trip-destination">
            <a mat-button routerLink="/trip/{{trip._id}}" matTooltip="Go to Trip Details." matTooltipPosition="right">{{trip.destination}}</a>
            <button mat-button class="deleteTrip" (click)="deleteTrip(trip)" matTooltip="Delete this trip." matTooltipPosition="left">
              <i class="material-icons">
                delete
              </i>
            </button>
          </h2>
          <div *ngIf="trip.costs.length > 0">
            <p class="trip-totalCost">
              <strong>${{trip.totalCost}}</strong>
              <span class="trip-cost-msg">(Total Trip Cost)</span>
            </p>
          </div>
          <div *ngIf="trip.costs.length === 0">
            <p>No Costs Added.</p>
          </div>
          <p>Travel Dates: {{trip.startdate | date:'mediumDate':'+0500'}} - {{trip.leavedate | date:'mediumDate':'+0500'}}</p>
        </div>
        <mat-divider></mat-divider>
      </li>

    </ul>
  </mat-card>

  <div *ngIf="trips">
    <app-trip-add-form [trips]="trips"></app-trip-add-form>
    <!-- <app-trip-add-form></app-trip-add-form> -->
  </div>
</div>
