.project-link {
  a {
    color: black;
  }
}

.card {
  margin-bottom: 1rem;
}

.card-header {
  width: 100%;
  display: block;
}

.trip-search {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }
  .trip-search-field {
    flex: 1 1 100%;
    @media screen and (min-width: 768px) {
      flex: 1;
      width: 50%;
    }
  }
  .trip-sort-field {
    max-width: 200px;
    margin: 0 1rem 0 0;
    flex: 1;
    @media screen and (min-width: 768px) {
      flex: 0;
      margin: 0 1rem;
    }
  }
  .trip-sort-order {
    max-width: 100px;
    margin: 0;
    flex: 1;
    @media screen and (min-width: 768px) {
      flex: 0;
      margin: 0;
    }
  }
}

form {
  margin-bottom: 1rem;
}

.trips-list {
  list-style: none; // background-color: lightblue;
  display: flex;
  flex-direction: column;
  .no-trip-msg {
    margin: 0.2rem;
  }
  li {
    display: flex;
    flex-direction: column; // padding: 1rem 0;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    .trip-image {
      position: relative;
      text-align: center;
      margin: 1rem auto;
      width: 95%;
      height: 100%;
      order: 2;
      &:hover {
        .unsplash-attr {
            opacity: 1;
            height: auto;
            transition: all .5s ease-in-out;
        }
      }
      @media screen and (min-width: 768px) {
        min-width: 50%;
        width: 50%;
        order: 0;
        margin: 1rem 0;
      }
      .unsplash-attr {
        height: 0;
        opacity: 0;
        font-size: 0.7rem;
        background-color: #383838;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0.5rem 0 0.5rem 0;
        color: white;
        a {
          color: white;
          font-size: 0.7rem;
        }
      }
      img {
          display: block;
        width: 100%;
      }
    }

    .trip-details {
      order: 1;
      margin-left: 0.2rem;
      width: 100%;
      .trip-destination {
        display: flex;
        align-items: center;
        align-content: center;
        padding-left: 0rem;
        margin: 1rem 0;
        position: relative;
        a {
          text-align: left;
          text-decoration: underline;
          font-size: 1.5rem;
          color: black;
          @media screen and (min-width: 768px) {
            padding-left: 1rem;
          }
        }
        button {
          color: red;
          min-width: 10px;
          padding: 0.2rem;
          border-radius: 50px;
          i {
            font-size: 1.2rem;
          }
        }
      }
      p {
        padding-left: 1rem;
        @media screen and (min-width: 768px) {
          padding-left: 1rem;
        }
      }
      .trip-totalCost {
        margin: 0.3rem 0;
        font-size: 1.2rem;
        .trip-cost-msg {
          padding-left: 0.5rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}

.deleteTrip {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
